# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box

# vagrant tests
.vagrant

# local
.DS_Store
*.zip
*.pdf
*.tar.gz
*.tgz
cisAssets/*
preseed.cfg
role-policy.json
*.tfstate*
base_unit_test_key*
